html {
    font-family: sans-serif;
    background-color: blueviolet;
    padding: 1rem;
    border-color: black;
}
h1 {
    padding: 1rem;
    color: navy;
    font-family: serif;
}
body {
    color: blue;
    max-width: 960px;
    margin: 0 auto;
    font-weight: bold;
    background: #eee;

}
hr {
    border: none;
    border-top: 1px solid lightseagreen;
}
.content {
    padding: 0 2rem 1rem;
    border-radius: auto;
    background-color: #fff;

}
.post .about{
    color: aqua;
    font-style: italic;
    white-space: pre-line;

}
.no-posts{
    font-style: italic;
    color: gray;
}
.content form{
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    border: 1em;
    padding: 1em;
}
.content label{
    font-weight: bold;
    margin-bottom: 0.5em;
}
.content input{
    margin-bottom: 1em;
}